:root{
    --blue: #4167C9;
    --blush: #D43747;
    --dark-gray: #101010;
    --light-gray:#E4ECFF;
    --red: #AA1323;
    --almost-white: #FDFDFD;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

*{
    box-sizing: border-box;
}

/* !!!!!!!!!!!!!!!!!!
-----TYPOGRAPHY-----
!!!!!!!!!!!!!!!!!!!!! */

.title, 
.subtitle,
.menu{
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 700;
}
.menu{
    font-size: .75rem;
}
.title{
    font-size: 1.5 rem;
}
.subtitle{
    font-size: 1.25rem;
}
.white-title, 
.subtitle{
    color: var(--almost-white);
}
.service-desc{
    color: var(--almost-white);
}
.nav-list{
    list-style: none;
    padding: 0;
}

/* BUTTONS AND LINKS AND INPUTS */
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none; 
    font-size: .875rem; 
    text-transform: uppercase;
    font-family: 'spartan';
    font-weight: 700;
}
li a {
    font-size: .75rem;
    color: var(--blue);
    padding: 1.5em .75em;
    margin: 1em .5em;
}
li a:hover{
    color: var(--blush);
}
.home-btn a,
.home-desc{
    color: var(--almost-white);
}
.home-btn, 
.wwu-btn{
    margin: .25em 0;
    color: var(--almost-white);
    background: var(--blush);
    border: none; 
    text-transform: uppercase;
    font-family: 'Spartan';
    font-weight: 700;
}
.home-btn{
    padding: 1em  1.75em ;
}
.wwu-btn, input, textarea{
    width: 18.75em;
    padding: .75em 1em;
}

.home-btn:hover,
.home-btn:focus,
.wwu-btn:hover,
.wwu-btn:focus{
    background: var(--red);
}

input, textarea{
    font-family: 'Hind Madurai ';
    border: solid lightgrey 2px;
    outline: none;
    margin: .75em 0;
}
textarea{
    white-space: unset;
}
.msg-input{
    height: 10em;
    text-align: start;
}

input:focus, textarea:focus{
    border: 2px solid var(--blue);
}

/* !!!!!!!!!!!!!!!!!!
-------LAYOUT-------
!!!!!!!!!!!!!!!!!!!!! */

/*-----IMAGES---- */
.home-img{
    display: none;  
}
.logo{
    width: 7em;
}
header{
    background: white;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em .5em .25em;
}
.nav-btn-container{
    display: flex;
}
 .nav{
    text-align: left;
    display: none;
}
.show-nav{
    display: inline;
}
.nav-toggle{
    background: transparent;
    border: none;
    margin: -.7em .25em 0 ;
}
.nav-toggle:focus{
    outline: none;
    background: none;
}

section{
    margin: 1em 1.25em;
    padding: 2em 0;
}
.home{
    background: var(--blue);
    padding: 10em 1.25em 6.5em;
    margin: 0 auto;
    text-align: left;
}
.about{
    padding: .25em .2em;
    z-index: 1;
    position: relative;
}
.about .title{
    padding-bottom: .5em;
}
.about .underline{
    padding-bottom: 1.5em;
}
.about::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--blue);
    left: 25%;
    width:50%;
    height: 1px;
}
.services{
    padding-top: .75em;
}
.card{
    background: var(--blue);
    margin: 2.5em .25em .1em;
    padding: 2.5em 1em;
}

.card .subtitle{
    margin: .25em 0 0;
    padding: .5em .25em .25em;
}
.card p{
    padding: 1.5em .5em .5em;
}
.potential, 
.hotspot,
.work-with-us{
    margin: 0;
    padding: 1.5em 2em;
}
.potential, 
.work-with-us{
    background: var(--light-gray);
}
.pseudo-card{
    margin: .75em 0 2em;
}
.pseudo-card p{
    text-align: left;
}
.work-with-us .title{
    padding: 1em;
}
/* !!!!!!!!!!!!!
----MEDIA QUERIES----
!!!!!!!!!!!!!! */


@media (min-width: 750px){
    .logo{
        width: 9em;
    }
    header{
        padding: 1em 1.5em .75em;
    }
    .home-text-container{
        padding: 7em 5em;
    }
    .home .title{
        font-size: 2.5rem;
    }
    .home-desc{
        font-size: 1.5rem;
    }
    .home-btn a{
        font-size: 1.25rem;
    }
    .about,
    .potential, 
    .hotspot,
    .work-with-us{
        margin: 0;
        padding: 1.75em 4em;
    }
    .wwu-btn, 
    input, 
    textarea{
        width: 550px;
        padding: .75em 1em;
    }

}

@media (min-width: 1250px){
    header,
    .nav-list{
        display: flex;
        justify-content: space-between;
    }
    .nav-list{
        padding-top: 1.5em;
    }
    .nav-btn-container{
        display: none;
    }
    .nav{
        display: initial;
    }
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .home{
        display: flex;
        background: white;
        padding: 5em 0 2em;
        width: 100%;
    }
    .home p{
        width: 100%;
    }
    .home-text-container{
        background: var(--blue);
        padding: 7em 18em 8em 6em ;
    }
    .home-img-container{
        background: white;
        margin: 0;
    }
    .home-img{
        width: 450px;
        display: initial;
        margin: 10em 6em 0em -12em;
    }
    .about-container{
        max-width: 75%;
        margin: 0 auto;
    }
    .services-card-container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        background: var(--almost-white);
        width: 30%;
    }
    .card p{
        color: var(--dark-gray);
    }
    .card:hover, 
    .card:hover p{
        /* cursor: pointer; */
        background: var(--blue);
        color: white;
    }
    .pseudo-card-container{
        margin: 0 auto;
        width: 80%;
    }
    .pseudo-card{
        width: 80%;
        margin: 2em auto;
        display: flex;
        justify-content: space-between;
    }

    .pseudo-card p{
        width: 55%;
        padding: 3em 0 0;
    }
    .flip-card{
        order:-1;
        text-align: start;
    }

}

