:root{
    --blue: #4167C9;
    --blush: #D43747;
    --dark-gray: #101010;
    --light-gray:#E4ECFF;
    --red: #AA1323;
    --almost-white: #FDFDFD;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

*{
    box-sizing: border-box;
}

/* !!!!!!!!!!!!!!!!!!
-----TYPOGRAPHY-----
!!!!!!!!!!!!!!!!!!!!! */

.title, 
.subtitle,
.menu{
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 700;
}
.menu{
    font-size: .75rem;
}
.title{
    font-size: 1.5 rem;
}
.subtitle{
    font-size: 1.25rem;
}
.white-title, 
.subtitle{
    color: var(--almost-white);
}
.service-desc{
    color: var(--almost-white);
}
.nav-list{
    list-style: none;
    padding: 0;
}

/* BUTTONS AND LINKS AND INPUTS */
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none; 
    font-size: .875rem; 
    text-transform: uppercase;
    font-family: 'spartan';
    font-weight: 700;
}
li a {
    font-size: .75rem;
    color: var(--blue);
}
li a:hover{
    color: var(--blush);
}
.home-btn a,
.home-desc{
    color: var(--almost-white);
}
.home-btn, 
.wwu-btn{
    margin: .25em 0;
    color: var(--almost-white);
    background: var(--blush);
    border: none; 
    text-transform: uppercase;
    font-family: 'Spartan';
    font-weight: 700;
}
.home-btn{
    width: 12.5em;
    height: 2.5em;
}
.wwu-btn, input, textarea{
    width: 18.75em;
    padding: .75em 1em;
}

.home-btn:hover,
.wwu-btn:hover{
    background: var(--red);
    cursor: pointer;
}

input, textarea{
    font-family: 'Hind Madurai ';
    border: solid lightgrey 2px;
    outline: none;
    margin: .75em 0;
}
textarea{
    white-space: unset;
}
.msg-input{
    height: 10em;
    text-align: start;
}

input:focus, textarea:focus{
    border: 2px solid var(--blue);
}

/* !!!!!!!!!!!!!!!!!!
-------LAYOUT-------
!!!!!!!!!!!!!!!!!!!!! */

/*-----IMAGES---- */
.home-img{
    display: none;  
}
.logo{
    width: 7em;
}
header{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em .5em .25em;
    border: seagreen 2px solid;
}
.nav-list{
    display: none;
}
/* 
.navbar{
    max-width: 800px;
    margin: 0 auto;
    padding: 1.25em 2.75em ;
    display: flex;
    justify-content: space-between;
    background: var(--almost-white);
    position: fixed;
    top: 0;
    left: 0;
    right:0 ;
}
.nav-btn-container{
    display: flex;
}
 .nav{
    text-align: left;
    position: fixed;
    
    top: 15%;
    bottom: 0;
    left: 10%;
    right: 0;
    z-index: 100; 

    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav-toggle{
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 3em;
    z-index: 1000;
}
.hamburger{
    display: block;
    position: relative;
}

.hamburger:focus{
    outline: none;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--blue);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px;}
.hamburger::after {bottom: 6px;} */

section{
    margin: 1em 1.25em;
    padding: 2em 0;
}
.home{
    background: var(--blue);
    max-width: 820px;
    padding: 6.5em 1.25em;
    margin: 0 auto;
    text-align: left;
}
.about{
    padding: .25em .2em;
    z-index: 1;
    position: relative;
}
.about .title{
    padding-bottom: .5em;
}
.about .underline{
    padding-bottom: 1.5em;
}
.about::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--blue);
    left: 25%;
    width:50%;
    height: 1px;
}
.card{
    background: var(--blue);
    margin: 2.5em .25em .1em;
    padding: 2.5em 1em;
}

.card .subtitle{
    margin: .25em 0 0;
    padding: .5em .25em .25em;
}
.card p{
    padding: 1.5em .5em .5em;
}
.potential, 
.hotspot,
.work-with-us{
    margin: 0;
    padding: 1.5em 2em;
}
.potential, 
.work-with-us{
    background: var(--light-gray);
}
.pseudo-card{
    margin: .75em 0 2em;
    text-align: left;
}
.work-with-us .title{
    padding: 1em;
}


/* *{
    animation: fadeIn 1s;
}
p{
    animation: slideIn 5s;
}
@keyframes fadeIn{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes slideIn{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
} */